@import url('https://fonts.googleapis.com/css?family=Merienda');

body {
  background-color: #32393d; 
  overflow: hidden;
}

.icon {
  background: #f12711;
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);
  background: -webkit-gradient(linear, left top, right top, from(#f5af19), to(#f12711));
  background: -webkit-linear-gradient(left, #f5af19, #f12711);
  background: -o-linear-gradient(left, #f5af19, #f12711);
  background: linear-gradient(to right, #f5af19, #f12711);
  height: 400px;
  width: 400px;
  border-radius: 40px;
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(200px, -200px);
      -ms-transform: translate(200px, -200px);
          transform: translate(200px, -200px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-filter: drop-shadow(1px 9px 5px rgba(0, 0, 0, .3));
          filter: drop-shadow(1px 9px 5px rgba(0, 0, 0, .3));
}

.icon:before {
  content: 'Heart App';
  color: #FFF;
  position: absolute;
  bottom: -50px;
  font-size: 1.3em;
  font-family: 'Merienda', cursive;
}

.icon .heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: beat 500ms ease infinite alternate;
          animation: beat 500ms ease infinite alternate;
  will-change: transform;
}

.icon .heart .part1,
.icon .heart .part2,
.icon .heart .part3 {
  background-color: #FFF;
  width: 150px;
  height: 150px;
}

.icon .heart .part1 {
  -webkit-transform: rotate(45deg) translateY(0);
      -ms-transform: rotate(45deg) translateY(0);
          transform: rotate(45deg) translateY(0);
}

.icon .heart .part2,
.icon .heart .part3{
  border-radius: 50%;
  position: absolute;
}

.icon .heart .part2 {
  -webkit-transform: translate(-50px, -50px);
      -ms-transform: translate(-50px, -50px);
          transform: translate(-50px, -50px);
}

.icon .heart .part3 {
  -webkit-transform: translate(50px, -50px);
      -ms-transform: translate(50px, -50px);
          transform: translate(50px, -50px);
}

@-webkit-keyframes beat {
  0% {
    -webkit-transform: scale(.8);
            transform: scale(.8);
  }
  
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: drop-shadow(1px 9px 5px rgba(0, 0, 0, .3));
            filter: drop-shadow(1px 9px 5px rgba(0, 0, 0, .3));
  }
}

@keyframes beat {
  0% {
    -webkit-transform: scale(.8);
            transform: scale(.8);
  }
  
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: drop-shadow(1px 9px 5px rgba(0, 0, 0, .3));
            filter: drop-shadow(1px 9px 5px rgba(0, 0, 0, .3));
  }
}
